.loadingPage {
  height: 100dvh;
  width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 100;

  background-color: var(--background-color);
  color: var(--color);

  div {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}